<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="powershell-core" />
    <package id="cmder" />
    <package id="docker" />
    <package id="git" />
    <package id="curl" />
    <package id="python3" />
    <package id="node js.install" />
    <package id="spotify" />
    <package id="pandoc" />
    <package id="paket" />
    <package id="vscode" />
    <package id="slack" />
    <package id="virtualbox" />
    <package id="googlechrome" />
    <package id="googledrive" />
</packages>