<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="azure-functions-core-tools" />
    <package id="cmder" />
    <package id="curl" />
    <package id="docker-cli" />
    <package id="docker-compose" />
    <package id="docker-desktop" />
    <package id="docker-machine" />
    <package id="dotnetcore-sdk" />
    <package id="fake"/>
    <package id="firefox" />
    <package id="googlechrome" />
    <package id="googledrive" />
    <package id="kubernetes-cli" />
    <package id="kubernetes-kompose" />
    <package id="microsoft-teams" />
    <package id="minikube" />
    <package id="nodejs.install" />
    <package id="paket" />
    <package id="pandoc" />
    <package id="postman" />
    <package id="powershell-core" />
    <package id="python3" />
    <package id="slack" />
    <package id="spotify" />
    <package id="sql-server-management-studio" />
    <package id="stb" />
    <package id="virtualbox" />
    <package id="vscode" />
    <package id="vscode-docker" />
</packages>